# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

#Exclude temporary stuff
UMLEdit/Debug
UMLEdit/Release
UMLEdit/ipch
UMLEdit/*.sdf